<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="/">
        <img src="{% static "images/logo.png" %}" />
      </a>
      <form class="navbar-search" action="">
        <input type="search" name="q" class="search-query" placeholder="Search" value="{{ query }}">
      </form>
      <div class="btn-group pull-right">
        {% if user.is_anonymous %}
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-user"></i> Login / Register
        </a>
        <ul class="dropdown-menu">
          <li><a href="{% url django.contrib.auth.views.login %}">Login</a></li>
          <li><a href="{% url registration_register %}">Register</a></li>
        </ul>
        {% else %}
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-user"></i> {{ user.get_full_name|default:user }}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">Profile</a></li>
        </ul>
        {% endif %}
      </div>
    </div>
  </div>
</div>
